// Bootstrap Functions
@import 'bootstrap/scss/functions';

// Theme Variables
@import 'design-system/variables';

// Bootstrap Core
@import 'bootstrap/scss/bootstrap';

// Theme Core
@import 'design-system/theme';

// React Differences
@import 'react/react-differences';

// Core

// @import '~mdbreact/dist/css/mdb.css';

@import '../vendor/nucleo/css/nucleo.css';
@import '../vendor/font-awesome/css/font-awesome.min.css';

@import 'fonts.scss';

html,
body {
  font-family: 'SF Pro Display';
}

main {
  background-color: #f7fafc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  outline: none;
  border: none;
}
