.headerContainer {
  background: url('../../assets/img/backgrounds/hero.png');
  background-repeat: no-repeat;
  background-position: center;

  min-height: 670px;
  padding-top: 88px;

  display: flex;
  justify-content: center;

  h1 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  &_content {
    display: block;
    color: white;
    width: 100%;
    max-width: 755px;
    padding: 6rem 0 3.5rem;

    p {
      font-weight: 400;
      letter-spacing: 0.2px;
      line-height: 1.5;
      font-size: 1.125rem;
      opacity: 0.8;
    }
  }
}
