.split-wrap {
  margin-top: -24px;

  &:last-of-type {
    margin-bottom: -24px;
  }

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  .split-item {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;

    .split-item-image {
      position: relative;
      width: 100%;

      img,
      svg,
      video {
        width: auto;
        height: auto;
        max-width: 100%;
        overflow: visible;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .split-wrap {
    margin-top: -40px;

    &:last-of-type {
      margin-bottom: -40px;
    }

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    .split-item {
      padding-top: 40px;
      padding-bottom: 40px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      .split-item-content {
        flex-shrink: 0;
        margin-bottom: 0;
        width: calc(50% - 25px);
        margin-left: 0;
        margin-right: 25px;
      }

      .split-item-image {
        width: calc(50% - 25px);
        margin-left: 25px;
        margin-right: 0;
      }
    }

    .split-item:nth-child(odd) {
      justify-content: flex-end;

      .split-item-content {
        order: 1;
        margin-left: 25px;
        margin-right: 0;
      }

      .split-item-image {
        margin-left: 0;
        margin-right: 25px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .split-wrap {
    .split-item {
      .split-item-content {
        margin-bottom: 32px;
      }
    }

    &.invert-mobile {
      .split-item {
        .split-item-content {
          order: 1;
          margin-bottom: 0 !important;
        }

        .split-item-image {
          margin-bottom: 32px;
        }
      }
    }
  }
}
