.section-header {
  h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 576px) {
  .section-header {
    h2 {
      font-size: 2.25rem;
    }
  }
}
